{
  "host": "192.168.x.x",
  "port": 21,
  "user": "your-ftp-user",
  "password": "your-ftp-password",
  "remoteRoot": "/web",
  "includePaths": ["index.html", "favicon.ico", "js", "i18n", "img", "css", "vendor"]
}
